<article id="header" class="HeaderSection __section __sidePadding">
  <lottie-player
    src="/leaves/Leaves_web.json"
    class="Loader_leaves Loader_leaves__web HeaderSection_overflow"
    background="transparent"
    speed="1"
    loop
    autoplay></lottie-player>
  <div class="HeaderSection_menu">
    <include src="components/header-menu/index.html" locals="{}"></include>
  </div>
  <div class="HeaderSection_main" data-name="Section">
    <div class="HeaderSection_container __container">
      <section class="HeaderSection_welcomeSection">
        <div class="HeaderSection_welcome">
          <div>
            <span class="HeaderSection_title">{{title}}</span>
            <span
              class="HeaderSection_description"
              name-header-section-description>
              {{description}}
            </span>
          </div>
        </div>
        <div class="HeaderSection_triangle"></div>
      </section>
    </div>
  </div>
</article>
