<article
  class="LogosSection __sidePadding __section"
  id="logos-section"
  data-name="Section"
  name-logos-section>
  <div class="LogosSection_block __container">
    <section class="LogosSection_description">
      <p class="LogosSection_text">
        We work with the best infrastructure to give you the best experience and
        keep your assets safe.
      </p>
    </section>
    <section class="LogosSection_logos">
      <img src="../assets/Coinbase.png" alt="Coinbase" class="logo" />
      <!---
      <img
        src="../assets/AnchorDigital.png"
        alt="Anchorage Digital"
        class="logo" />
        -->
      <img
        src="../assets/SoleraLogo.png"
        alt="Solera National Bank"
        class="logo" />
    </section>
  </div>
</article>
